html {
	padding: 0;
	margin: 0;
	position: relative;
}

body > header {
	width: 100%;
	text-align: center;
}

body > header > #weather + #logo {
	width: 33%;
}

body > header > #logo {
	text-align: center;
	display: inline-block;
	max-width: 66%;
}

body > header > #weather {
	text-align: left;
	display: inline-block;
	width: 33.3%;
}

body > header > form {
	font: 1em/100% Arial, Helvetica, sans-serif;
	text-align: right;
	position: relative;
	display: inline-block;
	width: 33%;
}
a {
	text-decoration: none;
	color: black;
}

article > a:hover > header > h1, article > a:hover > header > h2, article > a:hover > header > h3 {
	text-decoration: underline;
}
nav {
	margin: 0 2em;
	display: block;
	text-align: justify;
	list-style-type: none;
	height: auto;
	width: auto;
}

nav li {
	padding: 0.5em 0;
	display: inline;
	border-top: solid thin #d0d0d0;
	border-bottom: solid thin #d0d0d0;
}

nav li a {
	padding: 0;
	text-align: left;
	display: inline-block;
}

nav .last {
	border: none;
	display: inline-block;
	width: 100%;
	white-space: nowrap;
}

nav a:hover {
	text-decoration: underline;
}

.tinynav {
	display: none;
}

a .block {
	display: inline-block;
}

article a {
	font: 1em/100% Buenard, serif;
}

body {
	font: 1em/150% Buenard, serif;
	padding: 0;
	margin: 0;
	position: relative;
}

.content, .content > .columns, .columns > .main, .columns > .secondary, .pagewrap > aside {
	display: inline-block;
	vertical-align: top;
}

article {
	display: block;
	text-align: left;
	font: 0.875em/100% Arial, Helvetica, sans-serif;
}

article p {
	text-indent: 1.5em;
	font: 1em/100% Arial, Helvetica, sans-serif;
}

article > header {
	text-align: left;
}

section > ul {
	text-align: left;
	display: block;
	margin: 1%;
	overflow: auto;
	list-style-position: inside;
}
.main > ul, aside > ul, .secondary > ul {
	list-style-position: outside;
}
.main > ul > li > a, .secondary > ul > li > a, aside > ul > li > a, section > ul > li > a {
	text-decoration: none;
	font: 0.875em/125% Arial, Helvetica, sans-serif;
	color: #335674;
}

.main > ul > li > a:hover, .secondary > ul > li > a:hover, aside > ul > li > a:hover, section > ul > li > a:hover {
	text-decoration: underline;
}

section > ul > li > a:hover {
	font: 0.875em/100% Arial, Helvetica, sans-serif;
	color: #335674;
}
.main > header, .secondary > header, aside > section > header, .columns > header, .side-article > header {
	line-height: 0.7em;
	background-color: #d9d9d9;
	text-align: left;
}

.main > header > h4, .secondary > header > h4, aside > section > header > h4, .columns > header > h4, .side-article > header > h4 {
	font: 0.875em/20% Buenard, serif;
	text-align: left;
	display: inline-block;
	background-color: #FFFFFF;
	padding: 0.5em 0.5em 0.5em 0;
}

.main > h1, h2, h3, .secondary > h1, h2, h3, aside > h1, h2, h3 {
	margin: 1em;
}

.main > ul, .secondary > ul, .columns > ul {

}

aside > section > ul {
	list-style: none;
	padding: 1em 0;
	border-bottom: solid thin #d0d0d0;
	margin-bottom: 1em;
}

aside > section > ul > li {
	margin-top: 1em;
	line-height: 1.5em;
}

h1 {
	font: 2em/125% Buenard, serif;
}

h2 {
	font: 1.5em/125% Buenard, serif;
}

h3 {
	font: 1.25em/125% Buenard, serif;
	text-align: left;
	padding: 0;
}

h4 {
	font: 0.875em/100% Buenard, serif;
	text-align: left;
	text-transform: uppercase;
}

aside > img {
	width: 100%
}

.img-block {
	text-align: center;
	border: 0;
	width: 100%;
}

.leftside {
	float: left;
	overflow: auto;
	padding-right: 1em;
	max-width: 35%;
}

.sub-article {
	width: 100%;
	text-align: left;
	padding-bottom: 0.5em;
	overflow: hidden;
}

.side-article {
	width: 100%;
	text-align: left;
	padding: 2em 0;
}

.side-article  article {
	margin-top: 1em;
}

.leftside-broad {
	float: left;
	overflow: auto;
	padding-right: 1em;
	width: 35%;
	text-align: left;
	max-height: auto;
}

footer {
	border-top: solid thin #d0d0d0;
	display: block;
	padding: 1.5em 0;
	font: 1rem/100% Arial, Helvetica, sans-serif;
}

footer > ul {
	padding: 0;
	margin-top: 0;
	float: right;
	white-space: nowrap;
}

footer > ul > li > a:hover {
	text-decoration: underline;
}

footer > ul > li {
	display: inline-block;
}

footer > ul > li > a {
	font: 0.8 rem/100% Buenard, serif;
	color: #335674;
}

footer > ul > li+ li {
	padding-left: 1.5em;
}

/************************************************************************************
 STRUCTURE
 *************************************************************************************/
.pagewrap {
	width: 87em;
	margin: 1.5em auto;
	overflow-x: hidden;
}
.content {
	width: 77.5%;
}

.main {
	width: 40.5em;
	border-right: solid thin #d0d0d0;
	padding: 0 0.750em 0 0;
}

.secondary {
	width: 24.25em;
	padding: 0 0.750em;
}
.secondary img {
	max-height: 24em;
}

aside {
	border-left: solid thin #d0d0d0;
	padding: 0 0 0 1em;
	width: 18em;
}

/************************************************************************************
 MEDIA QUERIES
 *************************************************************************************/

/*for 1440px or less */

@media screen and (max-width: 88em) {

	.pagewrap {
		width: 98%;
	}

	.columns {
		width: 100%;
	}

	.main {
		width: 60%;
		padding: 0 1% 0 0;
	}
	.secondary {
		width: 36%;
		padding: 0 1%;
	}

	aside {
		width: 20%;
	}

	img {
		width: auto;
	}
}

/* for 1100px or less */
@media screen and (max-width: 68.75em) {

	body > header > #logo {
		min-width: 362px;
	}
	body > header > #weather {
		width: 25%;
	}
	body > header > form {
		width: 25%;
	}
	.pagewrap {
		width: 100%;
		overflow-x: hidden;
	}

	.content {
		width: 100%;
	}

	.columns {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.main {
		width: 56%;
	}

	.secondary {
		width: 40%;
	}
	aside {
		padding: 0;
		width: 100%;
		border: none;
		margin: 0;
	}

	aside > img {
		display: none;
	}

	.side {
		width: 100%;
		border: none;
		padding: 0;
	}
	.side > img {
		display: none;
	}

	img {
		width: auto;
	}

	footer {
		border-top: none;
	}
}

/* for 768 px or less */
@media screen and (max-width: 48em) {

	body > header > #logo + form {
		width: 100%;
		text-align:center;
		vertical-align:top;
	}
	body > header > form {
		text-align:center;
		vertical-align:baseline;
	}
	nav {
		border: none;
	}
	#navi {
		display: none;
	}
	.tinynav {
		width: 100%;
		display: block;
		margin-bottom: 1.25em;
	}
	.pagewrap {
		width: 97%;
		overflow-x: hidden;
	}
	body > header > #weather {
		display: none;
	}
	.columns {
		width: 100%;
	}

	.main {
		width: 100%;
		border: none;
		padding: 0;
	}

	.secondary {

		width: 100%;
		padding: 0;
	}

	.secondary > img {
		max-height: 100%;
	}

	aside {
		width: 100%;
		margin: 0;
		border: none;
	}

	aside > img {
		display: none;
	}

	.leftside-broad {
		width: 40%;
	}
	section > ul {
		padding-left: 0;
	}

}

/* for 480px or less */
@media screen and (max-width: 30em) {
	body>header>#logo {
		width:100%;
		min-width:300px;
	}
	h1 {
		font-size: 1.5em;
	}

	.columns {
		width: 100%;
	}
	.pagewrap {
		width: 96%;
	}

	.main {
		width: 100%;
	}

	.secondary {
		width: 100%;
	}

	aside > img {
		display: none;
	}

	footer {
		width: auto;
	}

	.leftside {
		clear: both;
		display: none;
	}
	.side-article img {
		display: none;
	}
	section > ul {
		padding: 0;
		list-style-position: inside;
	}
}

img {
	max-width: 100%;
	height: auto;
	width: auto/9;
}
